{% extends "template.twig" %}
{% block main %}
        <form action="{{ route("main") }}" method="GET" class="mt-4 mb-3 d-flex justify-content-end">
            <div class="d-flex gap-2 align-items-end">
                <div>
                    <select class="form-select" id="categoria" name="categoria">
                        <option value="">Todas las categorías</option>
                        {% for categoria in categorias|default([]) %}
                        <option value="{{ categoria.id }}" {{ categoriaSeleccionada|default('') == categoria.id ? 'selected' : '' }}>
                            {{ categoria.nombre }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-primary">Filtrar</button>
            </div>
        </form>

        {% if listado is not empty %}
        <table class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Completada</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            {% for item in listado %}
                <tr>
                    <td>{{ item.fecha|date("d/m/Y") }}</td>
                    <td>{{ item.descripcion }}</td>
                    <td>
                        {% set color = item.completada ? "bg-success" : "bg-danger" %}
                        <div class="badge rounded-pill text-white {{ color }}">
                            {{ item.completada ? "completada" : "no completada" }}
                        </div>
                    </td>
                    <td>
                        <a href="tarea/editar/{{ item.id }}" class="btn btn-dark"><i class="bi bi-pencil-square"></i> Editar</a>
                        <a href="tarea/borrar/{{ item.id }}" class="btn btn-danger"><i class="bi bi-trash"></i> Borrar</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        {% else %}
        <p class="text-center text-muted mt-4">no existen tareas</p>
        {% endif %}
{% endblock %}
