{% extends "template.twig" %}
{% block main %}
        <table class="mt-4 table table-hover">
            <thead class="table-light">
                <tr>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Completada</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            {% for item in listado %}
                <tr>
                    <td>{{ item.fecha|date("d/m/Y") }}</td>
                    <td>{{ item.descripcion }}</td>
                    <td>
                        {% set color = item.completada ? "bg-success" : "bg-danger" %}
                        <div class="badge rounded-pill text-white {{ color }}">
                            {{ item.completada ? "completada" : "no completada" }}
                        </div>
                    </td>
                    <td>
                        <a href="tarea/editar/{{ item.id }}" class="btn btn-dark"><i class="bi bi-pencil-square"></i> Editar</a>
                        <a href="tarea/borrar/{{ item.id }}" class="btn btn-danger"><i class="bi bi-trash"></i> Borrar</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
{% endblock %}
