<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
</head>
<body>
<div class="container">

    {%  if active() %}
    <h1 class="text-center">📋 Todo List</h1>

        {% if isRoute("main") or isRoute("categorias") %}
        <nav class="d-flex justify-content-between align-items-center">
            <div class="d-flex gap-2">
                <a href="{{ route("main") }}" class="btn btn-dark">Tareas</a>
                <a href="{{ route("categorias") }}" class="btn btn-dark">Categorías</a>
                <a href="{{ route("logout") }}" class="btn btn-warning">Desconectar</a>
            </div>
            <div>
                {% if isRoute("categorias") %}
                <a href="categoria/nueva" class="btn btn-primary">Nueva categoría</a>
                {% else %}
                <a href="{{ route("tarea.nueva") }}" class="btn btn-primary">Nueva tarea</a>
                {% endif %}
            </div>
        </nav>
        {% endif %}

    {% endif %}

    <main>
       {% block main %}{% endblock %}
    </main>

    <footer>
        {% block footer %}
            <p>&copy; Copyright {{ "now"|date("Y") }}, desarrollado por <a href="https://github.com/antoniojosesanchez" target="_blank" rel="noopener noreferrer">Antonio J.Sánchez</a></p>
        {% endblock %}
    </footer>

</div>
</body>